@import '../../../assets/themes/variables';

// background-color: gray;
span {
  border-radius: 1em;
  padding: .5em;
  background-color: gray;
  i {
    color: $white;
  }
}

span.active {
  background-color: $brand-success;
}
