<ul class="nav" style="background-color: silver">
  <li class="nav-item">
    <a class="nav-link" routerLink="/categories/0/create">+ Category</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/recipes/0/create">+ Recipe</a>
  </li>

  <li class="nav-item">
    <a class="nav-link" routerLink="/recipes/0/create">My Recipes</a>
  </li>

  <li class="nav-item">
    <a class="nav-link" routerLink="/recipes/0/create">Favorites</a>
  </li>

  <li class="nav-item">
    <a class="nav-link" routerLink="/recipes/0/create">Made It</a>
  </li>
</ul>

<br>

<recipe-list header="My Recipes" [path]="myRecipes$"></recipe-list>
<recipe-list header="Favorites" [path]="favorites$"></recipe-list>
