
<div class="container-fluid">
  <div class="row" style="margin-top: 3.5em;">
    <div class="col-12 col-lg-2">
      <h4>Actions</h4>
      <ul>
        <li routerLink="/logout">Logout</li>
        <li routerLink="/categories/0/create"><a>Create Category</a></li>
        <li routerLink="/recipes/0/create"><a>Create Recipe</a></li>
      </ul>
    </div>
    <div class="col-12 col-lg-9">
      <recipe-list header="My Recipes" [path]="myRecipes$"></recipe-list>
      <recipe-list header="Favorites" [path]="favorites$"></recipe-list>
    </div>
  </div>
</div>
