<form [formGroup]="recipeForm" novalidate >
  <!--<div class="container">-->
  <div class="row">
    <div class="form-group col-md-6">
      <label for="title">Title</label>
      <input id="title" class="form-control" type="text" formControlName="title">
    </div>
    <div class="form-group col-md-6">
      <label for="title">SubTitle</label>
      <input id="subTitle" class="form-control" type="text" formControlName="subTitle">
    </div>
  </div>
  <div class="form-group">
    <label for="title">Description</label>
    <textarea id="description" class="form-control" type="text" formControlName="description" rows="5"></textarea>
  </div>
  <div class="form-group" *ngIf="recipe?.$key">
    <label for="title">imagePath</label>
    <input id="imagePath" class="form-control" type="text" formControlName="imagePath">
  </div>

  <div class="form-group" *ngIf="recipe?.$key">
    <label for="title">imagePath</label>
    <input type="file" class="button" (change)="detectFiles($event)">
    <button class="button is-primary"
            [disabled]="!selectedFiles"
            (click)="uploadSingle()">
      Upload
    </button>
  </div>
  <div class="row">
    <div class="form-group col-4">
      <label for="title">CookTime</label>
      <input id="cookTime" class="form-control" type="text" formControlName="cookTime">
    </div>
    <div class="form-group col-4">
      <label for="serves">Serves</label>
      <input id="serves" class="form-control" type="number" formControlName="serves">
    </div>
    <div class="form-group col-4">
      <label for="calories">Calories</label>
      <input id="calories" class="form-control" type="number" formControlName="calories">
    </div>
  </div>
  <div class="form-group">
    <label for="title" >Rating</label>
    <p-rating formControlName="rating" stars="5" [cancel]="false" id="rating" style="display: inline-block"></p-rating>
    <!--<input id="rating" class="form-control" type="number" formControlName="rating">-->
  </div>
  <div class="form-group">
    <label for="ingredients">Ingredients</label>
      <textarea id="ingredients" class="form-control" type="text" formControlName="ingredients" rows="8"></textarea>
  </div>
  <div class="form-group">
    <label for="title">Directions</label>
      <textarea id="directions" class="form-control" type="text" formControlName="directions" rows="8"></textarea>
  </div>
  <div class="form-group">
    <label for="title">Tips</label>
      <textarea id="tips" class="form-control" type="text" formControlName="tips" rows="8"></textarea>
  </div>
  <div class="form-group">
    <label for="title">Equipment</label>
      <textarea id="equipment" class="form-control" type="text" formControlName="equipment" rows="8"></textarea>
  </div>
  <div class="form-group row">
    <div class="col-12 text-right">
      <button class="btn btn-default" type="button" (click)="cancel()" style="margin-right: 1em">Cancel</button>
      <button class="btn btn-success" type="button" (click)="save(recipeForm.value)">Save</button>
    </div>
  </div>
</form>
