<form [formGroup]="recipeDetailForm" novalidate (ngSubmit)="save(recipeDetailForm)">
  <!--  Tips -->
  <h5 style="width: 50%;display: inline-block;">Tips</h5>
  <i class="fa fa-plus-circle" style="float: right; cursor: pointer; color:green" (click)="addTip()"></i>

  <div formArrayName="tips">
    <ul class="list-group list-group-flush">
      <li class="list-group-item"
          *ngFor="let tip of recipeDetailForm.controls.tips.controls; let i=index">
        <div [formGroupName]="i" class="form-group">
          <a (click)="removeListItem(recipeDetailForm.get('tips'), i)" style="float: right;">remove</a>
          <textarea class="form-control" type="text" formControlName="value" rows="5"></textarea>
        </div>
      </li>
    </ul>
  </div>

  <hr>
  <br><br>
  <!--  Equipment -->
  <h5 style="width: 50%;display: inline-block;">Equipment</h5>
  <i class="fa fa-plus-circle" style="float: right; cursor: pointer; color:green" (click)="addItem()"></i>
  <div formArrayName="otherStuff">
    <ul class="list-group list-group-flush">
      <li class="list-group-item"
          *ngFor="let item of recipeDetailForm.controls.otherStuff.controls; let i=index">
        <div [formGroupName]="i" class="form-group">
          <a (click)="removeListItem(recipeDetailForm.get('otherStuff'), i)" style="float: right;">remove</a>
          <input class="form-control" type="text" formControlName="name">
        </div>
      </li>
    </ul>
  </div>

  <button class="btn btn-success" type="submit">save</button>
</form>

