
<!--<p-tabView orientation="left">-->
  <!--<p-tabPanel header="Header 1">-->
    <!--Content 1-->
  <!--</p-tabPanel>-->
  <!--<p-tabPanel header="Header 2">-->
    <!--Content 2-->
  <!--</p-tabPanel>-->
  <!--<p-tabPanel header="Header 3">-->
    <!--Content 3-->
  <!--</p-tabPanel>-->
<!--</p-tabView>-->


<br><br>
<div class="container">
  <div class="card"  *ngIf="!isLoading">
    <div class="card-header bg-success" style="color:white">
      Create Recipe Create/Edit: {{isEdit}}
    </div>
    <div class="card-block">
      <form [formGroup]="recipeForm" novalidate (ngSubmit)="save(recipeForm.value, recipeForm.valid)">
        <div class="container">
          <div class="form-group">
            <label for="title" class="col-2 col-form-label">Title</label>
            <div class="col-12">
              <input id="title" class="form-control" type="text" formControlName="title">
            </div>
          </div>
          <div class="form-group">
            <label for="title" class="col-2 col-form-label">subTitle</label>
            <div class="col-12">
              <input id="subTitle" class="form-control" type="text" formControlName="subTitle">
            </div>
          </div>
          <div class="form-group">
            <label for="title" class="col-2 col-form-label">description</label>
            <div class="col-12">
              <input id="description" class="form-control" type="text" formControlName="description">
            </div>
          </div>
          <div class="form-group">
            <label for="title" class="col-2 col-form-label">cookTime</label>
            <div class="col-12">
              <input id="cookTime" class="form-control" type="text" formControlName="cookTime">
            </div>
          </div>
          <div class="form-group">
            <label for="title" class="col-2 col-form-label">imagePath</label>
            <div class="col-12">
              <input id="imagePath" class="form-control" type="text" formControlName="imagePath">
            </div>
          </div>
          <div class="form-group">
            <label for="serves" class="col-2 col-form-label">serves</label>
            <div class="col-12">
              <input id="serves" class="form-control" type="number" formControlName="serves">
            </div>
          </div>
          <div class="form-group">
            <label for="calories" class="col-2 col-form-label">calories</label>
            <div class="col-12">
              <input id="calories" class="form-control" type="number" formControlName="calories">
            </div>
          </div>
          <div class="form-group">
            <label for="title" class="col-2 col-form-label">rating</label>
            <div class="col-12">
              <input id="rating" class="form-control" type="number" formControlName="rating">
            </div>
          </div>
          <div class="form-group row">
            <div class="col-12 text-right">
              <button class="btn btn-success" type="submit">Submit</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>




