
<div class="card-img-overlay" *ngIf="recipe.imagePath" style="height:8em;">
  <favorite [recipeId]="recipe.$key"></favorite>
</div>
<img class="card-img-top img-fluid" *ngIf="recipe.imagePath" src="{{recipe.imagePath }}?raw=true" alt="Card image cap">

<div class="card-block">
  <h4 [routerLink]="['/recipes',recipe.$key]">{{ recipe.title }}
    <my-recipe [recipeId]="recipe.$key" style="float: right"></my-recipe>
  </h4>
  <i class="fa fa-heart" style=""></i> {{favCount}}
  <p class="subheader">by: lenny reed</p>
  <p-rating [ngModel]="recipe.rating" readonly="true" stars="5" [cancel]="false"></p-rating>
</div>
