<div class="card card-outline-primary">
  <div class="card-block">
    <form>
      <div class="form-group">
        <label>Find A Recipe
          <input type="text" placeholder="Search recipes" class="form-control">
        </label>
      </div>
      <div class="form-group">
        <label>Category
          <input type="number" placeholder="Category" class="form-control">
        </label>
      </div>
      <div class="form-group text-right">
        <button type="submit" class="btn btn-primary">Search Now!</button>
      </div>
    </form>
  </div>
</div>

