@import '../../assets/themes/variables';

h1.brand {
  flex: 1;
  text-align: left;
  margin: .5em;
  color: #4E6E00;
  font-size: 2em;
  font-family: 'ABeeZee', sans-serif;
  margin: .25em;
  font-weight: 600;

  a, i {
    color: #36454f;
    text-decoration: underline;
    span {
      color: #91c11e;
    }
  }
}

.heading {
  display: flex;
}

.nav-top {
  background-color: $brand-primary;
  display: flex;

  form {
    text-align: right;
    position: absolute;
    right: 1em;
    margin: .5em;
  }

  ul {
    margin: .75em;
    padding: 0;
    li {
      padding: 0;
      margin: .25em;
      a {
        cursor: pointer;
        padding: 0;
        margin: 0;
      }
    }
    a, li {
      color: white;
    }
  }
}

i.user, i.signout, i.signin, i.alerts {
  margin: .25em;
  border: none;
}

i.user {
  right: 0;
  order: 3;
}

i.signout, i.signin {
  font-weight: bold;
  margin-top: 1em;
  right: 0;
  order: 2;
}

i.alerts {
  margin-top: 1em;
  margin-right: 0;
  right: 0;
  order: 1;
}

.fa {
  color: $brand-primary;
}

