<div class="hidden-sm-down">
  <div class="heading">
    <h1 class="brand"><a routerLink="/">Recipe<span style="color:#36454f">BOX</span></a></h1>
    <i class="fa fa-sign-out signout" *ngIf="currentUser" routerLink="/logout"></i>
    <i class="fa fa-sign-in signin" *ngIf="!currentUser" routerLink="/login"> Login</i>
    <i routerLink="/user/detail" *ngIf="currentUser" class="fa fa-user-circle fa-2x user"></i>
  </div>
  <nav class="nav-top">

    <ul class="list-inline">
      <li class="list-inline-item">Top Categories:</li>
      <li class="list-inline-item"  routerLink="/categories/-KlKFSCV1U1RMhi6Ck0-"><a>Italian</a></li>
      <li class="list-inline-item"  routerLink="/categories/-KlKFUoBK45066iquJvO"><a>Mexican</a></li>
      <li class="list-inline-item"  routerLink="/categories/-KlKFWK8sXwIf8713MLH"><a>Indian</a></li>
    </ul>

    <form class="form-inline" (ngSubmit)="onSearchByCategory(searchByCategoryForm.value)" #searchByCategoryForm="ngForm">
        <select class="form-control" id="categorySelect" name="categorySelect" ngModel>
          <option value="">Select Category</option>
          <option *ngFor="let category of categories | async" [value]="category.key">{{category.title}}</option>
        </select>
        <span class="input-group-btn">
        <button class="btn btn-success" type="submit">Go!</button>
      </span>
    </form>
  </nav>
</div>
