
<div class="container" *ngIf="category">
  <div class="row">
    <div class="col col-sm-12 col-md-12 col-lg-12" >
      <h3>{{category.title}}</h3>
      <div style="display: inline-flex" class="hidden-sm-down">
        <span > {{category.description}}</span>
        <img src="../../assets/img/categories/{{category.shortTitle}}.jpg"
             class="img-fluid" alt="picture of space" style="height:15em">
      </div>
      <hr>
    </div>
  </div>

  <recipe-list [path]="path"></recipe-list>
</div>
