<div class="card card-outline-success" style="margin-top: 1em">
  <div class="card-header bg-success">
    CATEGORIES
  </div>
  <div class="card-block">
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let category of categories | async" [routerLink]="['/categories', category.key]">
        <div><a [routerLink]="['/categories', category.key,'edit']"><i class="fa fa-pencil"></i></a></div>
        <div style="padding-left: 1em">{{category.title}}</div>
      </li>
    </ul>
  </div>
</div>
