<p>
  recipe-list works!
</p>

<ul>
  <li>Recipe 1
    <a routerLink="/recipes/1" routerLinkActive="active">view</a> |
    <a routerLink="/recipes/1/edit" routerLinkActive="active">edit</a>
  </li>
  <li>Recipe 2
    <a routerLink="/recipes/2" routerLinkActive="active">view</a> |
    <a routerLink="/recipes/2/edit" routerLinkActive="active">edit</a>
  </li>
  <li>Recipe 3
    <a routerLink="/recipes/3" routerLinkActive="active">view</a> |
    <a routerLink="/recipes/2/edit" routerLinkActive="active">edit</a>
  </li>
</ul>
