
<!--  Ingredients -->
<form [formGroup]="recipeDetailForm" novalidate (ngSubmit)="save(recipeDetailForm)">
  <h5 style="width: 50%;display: inline-block;">Ingredients</h5>
  <i class="fa fa-plus-circle" style="float: right; cursor: pointer; color:green" (click)="addIngredient()"></i>

  <div formArrayName="ingredients">
    <ul class="list-group list-group-flush">
      <li class="list-group-item"
          *ngFor="let ingredient of recipeDetailForm.controls.ingredients.controls; let i=index">
        <div [formGroupName]="i">
          <a (click)="removeListItem(recipeDetailForm.get('ingredients'), i)" style="float: right;">remove</a>
          <div class="form-group">
            <label>Amount</label>
            <input type="text" formControlName="amount" style="width:4em">
          </div>
          <div class="inlineFormInputGroup">
            <label>Unit</label>
            <input type="text" formControlName="unit" style="width:5em">
          </div>
          <div class="inlineFormInputGroup">
            <label>Name</label>
            <input type="text" formControlName="name">
          </div>
        </div>
      </li>
    </ul>
  </div>

  <button class="btn btn-success text-right" type="submit">Save</button>
</form>

