@import 'theme/variables';
@import 'theme/typography';
@import 'theme/navbar';
@import 'theme/buttons';
@import 'theme/lists';


body {
  font-family: $base-font-family;
}

.brand {
  color: $brand-primary;
  font-family: $brand-font-family;
  margin: .25em;
  font-weight: 600;
}


.callout-primary {
  background-color:  $brand-primary-lighter;
  border: 1px solid $brand-primary-dark;
  padding:1em;

}

