<div class="app-page">
<div class="container-fluid">
  <small>NOTE: Recipes must be added to categories to be visible</small><br>
  <small>NOTE: New Recipes must be saved before they can be added to categories</small>

  <div class="card card-outline-info">
    <div class="card-header bg-info card-header-top">
      Create/Edit Recipe
    </div>
    <div class="card-block">
      <div class="card">
        <div class="card-header">
          <ul class="nav nav-tabs card-header-tabs">
            <li class="nav-item">
              <a class="nav-link" [ngClass]="{'active': displayedTab === 'details' }"
                 (click)="toggleDisplayedTab('details')">Details</a>
            </li>
            <li class="nav-item" *ngIf="!!recipe">
              <a class="nav-link" [ngClass]="{'active': displayedTab === 'categories' }"
                 (click)="toggleDisplayedTab('categories')">Categories</a>
            </li>
          </ul>
        </div>
        <div class="card-block" *ngIf="!isEdit || !!recipe">
          <div *ngIf="displayedTab === 'details'">
            <recipe-edit [recipe]="recipe"></recipe-edit>
          </div>

          <div *ngIf="recipe && displayedTab === 'categories'">
            <edit-recipe-categories [recipe]="recipe"></edit-recipe-categories>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

</div>


