
<div class="container-fluid">
  <div class="card card-outline-info">
    <div class="card-header bg-info card-header-top">
      Create/Edit Recipe
    </div>
    <div class="card-block">
      <div class="card">
        <div class="card-header">
          <ul class="nav nav-tabs card-header-tabs">
            <li class="nav-item">
              <a class="nav-link" [ngClass]="{'active': displayedTab === 'details' }"
                 (click)="toggleDisplayedTab('details')">Details</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [ngClass]="{'active': displayedTab === 'categories' }"
                 (click)="toggleDisplayedTab('categories')">Categories</a>
            </li>
          </ul>
        </div>
        <div class="card-block">
          <div *ngIf="displayedTab === 'details'">
            <recipe-edit id="{{id}}"></recipe-edit>
          </div>

          <div *ngIf="displayedTab === 'categories'">
            <edit-recipe-categories recipeId="{{id}}"></edit-recipe-categories>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>



<!--<div class="container-fluid">-->
  <!--<h3>Create/Edit Recipe:</h3>-->
  <!--<div class="card">-->
    <!--<div class="card-header">-->
      <!--<ul class="nav nav-tabs card-header-tabs">-->
        <!--<li class="nav-item">-->
          <!--<a class="nav-link" [ngClass]="{'active': displayedTab === 'details' }"-->
             <!--(click)="toggleDisplayedTab('details')">Details</a>-->
        <!--</li>-->
        <!--<li class="nav-item">-->
          <!--<a class="nav-link" [ngClass]="{'active': displayedTab === 'categories' }"-->
             <!--(click)="toggleDisplayedTab('categories')">Categories</a>-->
        <!--</li>-->
      <!--</ul>-->
    <!--</div>-->
    <!--<div class="card-block">-->
      <!--<div *ngIf="displayedTab === 'details'">-->
        <!--<recipe-edit id="{{id}}"></recipe-edit>-->
      <!--</div>-->

      <!--<div *ngIf="displayedTab === 'categories'">-->
        <!--<edit-recipe-categories recipeId="{{id}}"></edit-recipe-categories>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->


