
<div class="navbar-mobile fixed-bottom bg-primary hidden-md-up">
  <div class="row justify-content-center">
    <div class="col-3 text-center">
      <i class="fa fa-home fa-2x" routerLink="/"></i><br>Home
    </div>
    <div class="col-3 text-center">
      <i class="fa fa-th-list fa-2x"></i><br>Categories
    </div>
    <div class="col-3 text-center">
      <i class="fa fa-search fa-2x"></i><br>Search
    </div>
    <div class="col-3 text-center">
      <i class="fa fa-user-circle fa-2x" routerLink="/user/detail"></i><br>Account
    </div>
  </div>
</div>
