@import '../../assets/themes/variables';

.fa {
  padding: .25em;
}

h4 {
  color:#36454f;
  text-decoration: none;

  i {
    display: inline;
    padding: 0;
    margin-right: .25em;
  }
  span {
    color: white;
  }
}


.navbar-mobile{
  color: $white;
}
