<div class="hidden-md-up" style="margin-bottom: 1em;">
  <div class="navbar-mobile fixed-top bg-primary">
    <div class="row justify-content-center">
      <div class="col-3 text-center" style="left:.5em; top:.5em">
        <h4>RecipeBOX</h4>
      </div>
      <div class="col-9 text-right">
        <i class="fa fa-home fa-2x" routerLink="/"></i>
        <i class="fa fa-th-list fa-2x" routerLink="/categories"></i>
        <i class="fa fa-sign-out signout  fa-2x" *ngIf="currentUser" routerLink="/logout"></i>
        <i class="fa fa-sign-in signin  fa-2x" *ngIf="!currentUser" routerLink="/login"></i>
        <i class="fa fa-user-circle fa-2x" routerLink="/user/detail" *ngIf="currentUser"></i>
      </div>
    </div>
  </div>
</div>

