<div class="hidden-md-up">
  <div class="navbar-mobile fixed-top bg-primary">
    <div class="row justify-content-center">
      <div class="col-3 text-center" style="left:.5em; top:.5em">
        <h4>RecipeBOX</h4>
      </div>
      <div class="col-9 text-center">
        <i class="fa fa-home fa-2x" routerLink="/"></i>
        <i class="fa fa-th-list fa-2x" routerLink="/categories"></i>
        <i class="fa fa-user-circle fa-2x" routerLink="/user/detail"></i>
      </div>
    </div>
  </div>
  <br><br>
</div>

