<div class="app-page">
  <div class="modal-dialog">
  <div class="loginmodal-container">
    <h1>Login to Your</h1>
    <h1>Recipe Box</h1>
    <button class="login loginmodal-submit google" (click)="login()"><i class="fa fa-google"></i> Login With Google</button>

    <br><br>
    <h5>COMING SOON...</h5>
    <hr>
    <button class="login loginmodal-submit facebook disabled" disabled><i class="fa fa-facebook"></i> Login With Facebook</button>
    <button class="login loginmodal-submit twitter disabled" disabled><i class="fa fa-twitter"></i> Login With Twitter</button>
  </div>
</div>
</div>
