@import 'assets/themes/variables';

hr {
  background-color: #36454f;
  border-bottom: 1px solid #36454f;
  height: 1px;
  //background-image: linear-gradient(left, #f0f0f0, #8c8c8c, #f0f0f0);
}

@media (min-width: 576px) {
  div.container-fluid {
    padding: 1em;
    margin: 1em;
  }
}


@media (max-width: 576px) {
  div.container-fluid {
    padding: 0;
    margin: 0 !important;
  }
}



/* Slide transition */
div.app-page {
  animation-duration: .5s;
  animation-name: slideIn;
  animation-fill-mode: forwards;
  transition: transform .5s ease;
}

@keyframes slideIn {
  from {
    transform: translate(200px);
  }

  to {
    transform: translate(0px);
  }
}
