@import 'assets/themes/variables';

hr {
  background-color: $brand-primary;
  border-bottom: 1px solid #31c568;
  height: 1px;
  background-image: linear-gradient(left, #f0f0f0, #8c8c8c, #f0f0f0);
}

