<div *ngIf="recipe">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item active">{{recipe.title}}</li>
  </ol>
  <br>
  <div class="container">
    <div class="heading">
      <h3>{{recipe.title}}</h3>
      <small>{{recipe.subTitle}}</small>
    </div>
    <div class="card card-outline-primary">
      <div class="row">
        <div class="col-md-6">
          <img class="card-img-top img-fluid" src="{{recipe.imagePath + '?raw=true'}}raw=true" alt="Card image cap">
        </div>
        <div class="col-md-6" style="padding-left:1em; padding-top:1em;">
          {{recipe.description}}
        </div>
        <div class="col-sm-12 col-md-12" *ngIf="recipeDetail">
          <small style="padding:1em;">
            Tips
            <ul>
              <li *ngFor="let tip of recipeDetail.tips">{{tip.value}}</li>
            </ul>
          </small>
        </div>
      </div>
    </div>
    <div class="card-block">
      <div class="row">
        <div class="col-sm-6 col-md-3">
          <p-rating [ngModel]="recipe.rating" readonly="true"
                    stars="5" [cancel]="false" style="display: inline-block"></p-rating>
        </div>
        <div class="col-sm-6  col-md-3">
          <i class="fa fa-clock-o"></i> time {{recipe.cookTime}}
        </div>
        <div class="col-sm-6  col-md-3">
          <i class="fa fa-users"></i> serves {{recipe.serves}}
        </div>
        <div class="col-sm-6  col-md-3">
          <i class="fa fa-dashboard"></i> calories {{recipe.calories}}
        </div>
      </div>

      <div class="row" *ngIf="recipeDetail" style="margin-top: 1em">
        <hr>
        <div class="col-md-4">
          <ul class="list-group">
            <li class="active list-group-item">Ingredients</li>
            <li *ngFor="let ingredient of recipeDetail.ingredients" class="list-group-item">
              {{ingredient.amount}}
              {{ingredient.unit}}
              {{ingredient.name}}
            </li>
            <li class="active list-group-item">Other Items</li>
            <li *ngFor="let stuff of recipeDetail.otherStuff" class="list-group-item">
              {{stuff.name}}
            </li>
          </ul>
        </div>
        <div class="col-md-8">
          <h5>Directions</h5>
          <ol>
            <li *ngFor="let direction of recipeDetail.directions">
              <h5>{{direction.title}}</h5>
              {{direction.value}}
            </li>
          </ol>
        </div>
      </div>
    </div>
  </div>
</div>
<br><br><br>


