@import '../../../assets/themes/variables';

.heading {
  h3 {
    margin-bottom: 0;
    text-transform: uppercase;
  }
  small {
    margin-left: 1em;
    margin-top: 0;
    text-transform: lowercase;
  }
}

h5 {
  margin-top: .5em;
}


.activeTab {
  color: $brand-success;
  font: bold;
  text-decoration: underline;
  text-decoration-color: $brand-success;
  //text-decoration-;
}
