
<ol class="breadcrumb">
  <li class="breadcrumb-item"><a href="/">Home</a></li>
  <li class="breadcrumb-item active">{{recipe.title}}</li>
</ol>
<br>

<div class="container" *ngIf="recipe">


  <div class="heading">
    <h3>{{recipe.title}}</h3>
    <small>{{recipe.subTitle}}</small>

  </div>
  <div class="card card-outline-primary">
      <div class="row">
        <div class="col-md-6">
          <img class="card-img-top img-fluid" src="{{recipe.imagePath + '?raw=true'}}raw=true" alt="Card image cap">
        </div>
        <div class="col-md-6">
          <div style="padding:1em">


            {{recipe.description}}
          </div>
        </div>
      </div>
  </div>
  <div class="card-block">
    <div class="row">
      <div class="col-md-3">

        <p-rating [ngModel]="recipe.rating" readonly="true"
                  stars="5" [cancel]="false" style="display: inline-block"></p-rating>

      </div>
      <div class="col-md-3">
        <i class="fa fa-clock-o"></i> time {{recipe.cookTime}}</div>
      <div class="col-md-3">
        <i class="fa fa-users"></i> serves {{recipe.serves}}</div>
      <div class="col-md-3"><i class="fa fa-dashboard"></i> calories {{recipe.calories}}</div>
    </div>

    <div class="row">
      <div class="small-6 large-5 columns heading">
        <hr>
        <div class="container" style="margin-top: 1em">
          <div class="row">
            <div class="col-md-3">
              <h5>Ingredients</h5>
              <ul class="list-group">
                <li class="list-group-item">cook time: {{recipe.cookTime}}</li>
                <li class="list-group-item">serves: {{recipe.serves}}</li>
                <li class="list-group-item">calories: {{recipe.calories}}</li>
              </ul>
            </div>
            <div class="col-md-9">
              <h5>Directions</h5>
              <ol>
                <li>Auto-layout for flexbox grid columns also means you can set
                  the width of one column and the others will automatically resize around
                  it. You may use predefined grid classes (as shown below), grid mixins,
                  or inline widths.
                </li>
                <li>Auto-layout for flexbox grid columns also means you can set
                  the width of one column and the others will automatically resize around
                  it. You may use predefined grid classes (as shown below), grid mixins,
                  or inline widths.
                </li>
                <li>Auto-layout for flexbox grid columns also means you can set
                  the width of one column and the others will automatically resize around
                  it. You may use predefined grid classes (as shown below), grid mixins,
                  or inline widths.
                </li>
                <li>Auto-layout for flexbox grid columns also means you can set
                  the width of one column and the others will automatically resize around
                  it. You may use predefined grid classes (as shown below), grid mixins,
                  or inline widths.
                </li>
              </ol>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


