<img src="../../assets/img/top.png" class="img-fluid">
<br><br>
<div class="container">
  <div class="row">
    <div class="col-12" *ngIf="category">
      <h3> {{category.title}}</h3>
      <div style="display: inline-flex">
        <span> {{category.description}}</span>
        <img src="../../assets/img/images.jpeg" class="img-fluid hidden-md-down" alt="picture of space">
      </div>
      <br>
      <button [routerLink]="['/categories', '-KlKFkGJ0nxZDlK7Xtpe']" class="btn btn-primary">See them all</button>
      <hr>
    </div>
  </div>
  <recipe-list categoryId="-KlKFkGJ0nxZDlK7Xtpe"></recipe-list>
</div>



