<div class="app-page">
<img src="../../assets/img/top.png" class="img-fluid">


<div class="container-fluid">

    <div class="card-block alert alert-success">
      <strong><i class="fa fa-info-circle"></i> HEADS UP</strong><br>
      This app is still under development, new features are added everyday.
      Once completed it will be moved to a real domain.
    </div>


  <div class="row">
    <div class="col-12" *ngIf="category">
      <h3> {{category.title}}</h3>
      <div style="display: inline-flex">
        <span> {{category.description}}</span>
        <img src="../../assets/img/images.jpeg" class="img-fluid hidden-md-down" alt="picture of space">
      </div>
      <br>
      <button [routerLink]="['/categories', '-KlKFkGJ0nxZDlK7Xtpe']" class="btn btn-primary">See them all</button>
      <hr>
    </div>
  </div>
  <recipe-list categoryId="-KlKFkGJ0nxZDlK7Xtpe"></recipe-list>
</div>
</div>
